<ul class="items-list ability-items">
  <li class="items-header flexrow">
    <div class="header-name">{{localize "SWFFG.ItemsAbility"}}</div>
    <div class="gear-col-actions">
      <span class="gear-org-controls" data-org-type="ability">
        {{#if abilityOrg.enabled}}
        <a class="gear-org-add-tab" data-org-type="ability" title="{{localize "SWFFG.AbilityOrganization.AddTab"}}"><i class="fas fa-folder-plus"></i></a>
        <a class="gear-org-toggle active" data-org-type="ability" title="{{localize "SWFFG.AbilityOrganization.Disable"}}"><i class="fas fa-list-ul"></i></a>
        {{else}}
        <a class="gear-org-toggle" data-org-type="ability" title="{{localize "SWFFG.AbilityOrganization.Enable"}}"><i class="fas fa-folder-tree"></i></a>
        {{/if}}
      </span>
    </div>
  </li>

  {{#if abilityOrg.enabled}}
  {{!-- Manual organization: collapsible, user-named tabs --}}
  {{#each abilityOrg.groups as |group|}}
  <li class="gear-tab-header flexrow {{#if group.collapsed}}collapsed{{/if}}" data-tab-id="{{group.id}}" data-org-type="ability">
    <div class="gear-tab-title">
      {{#unless group.isDefault}}<a class="gear-tab-drag-handle" draggable="true" data-tab-id="{{group.id}}" title="{{localize "SWFFG.AbilityOrganization.ReorderTab"}}"><i class="fas fa-grip-vertical"></i></a>{{/unless}}
      <a class="gear-tab-collapse" title="{{localize "SWFFG.AbilityOrganization.Collapse"}}"><i class="fas {{#if group.collapsed}}fa-caret-right{{else}}fa-caret-down{{/if}}"></i></a>
      {{#if group.isDefault}}
      <span class="gear-tab-name">{{group.name}}</span>
      {{else}}
      <input class="gear-tab-name-input" type="text" value="{{group.name}}" data-tab-id="{{group.id}}" draggable="false" />
      {{/if}}
      <span class="gear-tab-count">({{group.items.length}})</span>
    </div>
    <div class="gear-tab-actions">
      {{#unless group.isDefault}}
      <a class="gear-tab-delete" title="{{localize "SWFFG.AbilityOrganization.DeleteTab"}}" data-tab-id="{{group.id}}"><i class="fas fa-trash"></i></a>
      {{/unless}}
    </div>
  </li>
  <ul class="gear-org-list {{#if group.collapsed}}hidden{{/if}}" data-tab-id="{{group.id}}" data-org-type="ability">
    {{#each group.items as |item id|}}
    <li class="item specialization-talent-item gear-org-item flexrow" draggable="true" data-item-id="{{item._id}}" data-gear-key="{{item._id}}" data-tab-id="{{group.id}}" data-org-type="ability">
      <div class="item-name">
        <i class="fas fa-grip-vertical gear-org-handle"></i>&nbsp;{{item.name}}
      </div>
      <div class="item-controls gear-col-actions">
        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
      </div>
    </li>
    {{/each}}
    <li class="gear-org-dropzone {{#if group.items.length}}empty-hidden{{/if}}" data-tab-id="{{group.id}}" data-org-type="ability">{{#unless group.items.length}}{{localize "SWFFG.AbilityOrganization.DropHere"}}{{/unless}}</li>
  </ul>
  {{/each}}
  {{else}}
  {{!-- Default (flat) rendering --}}
  <ul class="items-list">
    {{#each items as |item id|}} {{#iff item.type '==' 'ability'}}
    <li class="item specialization-talent-item flexrow" data-item-id="{{item._id}}">
      <div class="item-name">
        {{item.name}}
      </div>
      <div class="item-controls">
        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
      </div>
    </li>
    {{/iff}} {{/each}}
  </ul>
  {{/if}}
</ul>
